<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <%- include('partials/navbar') %> <% if (currentUser) { %>
    <h1>Hi, <%- currentUser.username %></h1>
    <div>
      <% files.forEach(file => { %>
      <div>
        <%= file.title %>
        <button><a href="/files/<%= file.id %>">Open</a></button>
      </div>
      <% }) %>
    </div>
    <% } else { %>
    <h1>Hi Mom</h1>
    <% } %>
  </body>
</html>
