<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Upload a file to the database</h1>
    <form action="/upload-file" method="POST" enctype="multipart/form-data">
      <div>
        <label for="uploadedFile">Upload your file here: </label>
        <input type="file" name="uploadedFile" />
      </div>
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
