<nav>
  <ul>
    <li>
      <button><a href="/">Home</a></button>
    </li>
    <% if (!currentUser) { %>
    <li>
      <button><a href="/sign-up">Sign Up</a></button>
    </li>
    <li>
      <button><a href="/log-in">Log In</a></button>
    </li>
    <% } else { %>
    <li>
      <button><a href="/log-out">Log Out</a></button>
    </li>
    <li>
      <button><a href="/upload-file">Upload File</a></button>
    </li>
    <% } %>
  </ul>
</nav>
